@using Microsoft.AspNetCore.Identity
@using MBotRangerCore.Models
@model MBotRangerCore.Models.ConfirmViewModel
@*@model MBotRangerCore.Models.RobotPrivacy *@

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Robot Controller";
}

@*  @if (SignInManager.IsSignedIn(User))*@

@section Scripts
    {
    <script src="~/js/modal_and_toggle.js"></script>
    <script src="~/js/robot_main_jquery.js"></script>
    <script src="~/js/main_user_logout_request.js"></script>
    <script src="~/js/waiting_list_handler.js"></script>
    <script src="~/js/inactive_logout_handler.js"></script>
    <link rel="stylesheet" href="~/css/robot_main.css" />
}
<script src="~/lib/jquery/dist/jquery.js"></script>

<div><h4 id="logoutWarnIDLE" style="text-align:end; color:burlywood;">I</h4></div>
@if (!@Model.IsWaitingUser)
{
    <div><h3 id="logoutWarn" style="text-align:end; color:burlywood;"></h3></div>
    <div class="togglePrivate" style="color:white; background-color:black; border-radius:5px; width:154px; height:29px;">
        <input style="float:left; margin-left:2px; background-color:green;  color:white; border-top-left-radius:5px; border-bottom-left-radius:5px;" id="private" type="button" value="Private"/>
        <input style="background-color:black; color:#262222; border-top-right-radius:5px; border-bottom-right-radius:5px;" id="public" type="button" value="Public"/>

    </div>        
}
@if (!@Model.IsWaitingUser)
{

      
        <script src="~/js/robot_arrows_option.js"></script>
    

        <div class="row">
            @*The appropriate width and height should be 640 and 480 respectively
                canvas size on js file should be the same with cshtml file to avoid croping*@
            <div id="divVideo" class="col-md-8">

                <img src="~/images/robotStart_gif.gif"  id="imageContainer" width="740" height="500" crossorigin="anonymous"/>
            
                  </div>


            @*Robot controllers Button on the main page*@
            <div id="controlButtons" class="col-md-4">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <input id="forwardBtn" type="submit" name="submit" value="Forward" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <input id="leftBtn" type="submit" name="submit" value="Left" />
                    </div>
                    <div class="col-md-4">
                        <input id="stopBtn" type="submit" name="submit" value="Stop" />
                    </div>
                    <div class="col-md-4">
                        <input id="rightBtn" type="submit" name="submit" value="Right" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <input id="backBtn" type="submit" name="submit" value="Back" />
                    </div>
                </div>



            </div>
        </div>

        <!--Camera control options-->
        <div class="row">
            <div class="col-md-3">
                <input style="width:150px;" id="webcamM" type="submit" name="cam" value="Start" />
            </div>
            <div class="col-md-3">
                <input style="width:150px;" id="captureModal" type="submit" name="cam" value="Capture" />
            </div>
            <div class="col-md-3">
                <input style="width:150px;" id="stopM" type="submit" name="cam" value="Stop" />
            </div>
            
            @*
            <div class="col-md-2">
                @using (Html.BeginForm("Index", "Robot"))
                {
                    <input id="buttonWebcam" type="submit" name="cam" value="Reload" />
                }
            </div> *@
        </div>


        <!-- Modal to capture a photo from the stream -->
        <div id="myModalRobot" class="modal">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="popupCanvas" width="500" height="330"></canvas>
                    </div>
                </div>
                <div id="popupButtons" class="row">
                    <div class="col-md-3">
                        <input type="submit" id="popupSave" value="Save" />
                    </div>
                    <div class="col-md-3">
                        <input type="submit" id="popupCancel" value="Cancel" />
                    </div>
                </div>
            </div>
      </div>

        <p>@ViewData["msg"]</p>

        <div><p id="unload"></p></div>
        @*
        <div><p>Keys Change </p><span id="msg" /></div>
        <div><p>Arrows Change </p><span id="msg2" /></div>
        *@
     
        <div><p hidden id="mainUserWaitSeconds">@ViewBag.GuestWaitTime</p></div>
        <div><p>@ViewBag.Time</p></div>


}
else if (@ViewBag.Public == "Yes")
{
     <h1>You are viewing the video as a guest!</h1>
    <div id="divVideoGuest" class="col-md-8">
        @*<img src="~/images/sample.gif" id="imageContainerGuest" width="720" height="500" crossorigin="anonymous" />
        *@
            <img src="http://192.168.1.104:8080/video" alt="Image not found" onerror="this.src='../images/sample.gif';" width="720" height="500" crossorigin="anonymous"  />
        
            </div>
}
else
{
    <div style="margin-top:200px;">
    
   
   <h3>The robot page is in PRIVATE mode. <br><br>Please wait for your turn to access the robot page. 
        There is <b> @ViewBag.NoOF_Users </b> 
        user before you right now.
   </h3>
   <h3 style="margin-top:60px; color:burlywood;">Time left for first user</h3>
   <h3 id="guestWaitTime" style="font-size:70px; color:burlywood;">@ViewBag.GuestWaitTime</h3>
        </div>
}
