<!DOCTYPE html>
<html>
<head>
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MBotRangerCore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="divLogged" class="col-md-2">
        <div style="position:fixed;" class="col-md-12">
            <img style="margin-top:20px; margin-left:0px;" height="140" width="200" src="~/images/sample.gif" />
            <p style="margin-top: 440px; color:aqua"></p>
            <hr style="width:190px; margin-left:0px;">
            @*<img style="margin-top:0px; margin-left:0px;" width="200" src="~/images/social.png" />*@
            <a target="_blank" href="http://www.facebook.com"><img style="margin-top:0px; margin-left:20px;" width="50" src="~/images/facebook.png" /></a>
            <a target="_blank" href="http://www.instagram.com"><img style="margin-top:0px; margin-left:0px;" width="50" src="~/images/instagram-circle-512.png" /></a>
            <a target="_blank" href="http://www.integrifysweden.se"> <img style="margin-top:0px; margin-left:0px;" width="50" src="~/images/integrifyI.png" /></a>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div id="innerDivLogged" class="col-md-12">
                <h4 style="font-size:larger;"><b>LOGGED IN USERS:</b></h4>
                @*  <ul>
                        @{int dd = 0;
                        }
                        @foreach (var wList in ViewBag.WaitList)
                        {
                            dd++;
                            <li><h5>@dd   </h5></li>
                            <li><h5>@UserManager.FindByEmailAsync(wList.Email).Result.FirstName</h5></li>
                            <li><h5>@wList.Email</h5></li>

                        }
                    </ul>*@
               <table id="waitingListTable">
                   
                        
                        <tr>
                            <th id="posId"><h4><b>Pos</b></h4></th>
                            <th><h4><b>Name</b></h4></th>
                            <th><h4><b>Logged Time</b></h4></th>
                        </tr>
                        @{int dd = 0;}

                        @foreach (var wList in ViewBag.WaitList)
                        {
                            dd++;
                            <tr>
                               <td><h4>@dd   </h4></td>
                                <td><h4 id="name">@UserManager.FindByEmailAsync(wList.Email).Result.FirstName</h4></td>
                                <td><h4>@wList.LoggedInTime</h4></td>
                            </tr>

                        }
                    </table>
            </div>
}
    </div>
    
    <div id="MainBody" class="col-md-7">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                                
                @await Html.PartialAsync("_LoginPartial")

            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()

            <hr id="bottomLine" />
            <footer>
                <a href="https://integrifysweden.se/"> <img width="40" src="~/images/Integrify_logo.png" style="fill: #fff;" /></a>
                <br />
                <a href="https://integrifysweden.se" style="color:olivedrab">&copy; 2017 Integrify Sweden AB.</a>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
