@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h5>@ViewData["One"]</h5>
<h5>@ViewData["Two"]</h5>
<h5>@ViewData["Three"]</h5>
<h5>Start time up end time down</h5>
<h5>@ViewData["Four"]</h5>
<h5>@ViewData["Five"]</h5>

<h5>@ViewData["zare"]</h5>
<h5>@ViewData["Timespent"] </h5>


